.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin-top: 10%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#header {
    height: 10%;
    width: 100%;
    background: rgba(229, 124, 14, 0.79);
}

#map {
    height: 70%;
    width: 100%;
}

#footer {
    /*  padding-top: 20px; */
    background: rgba(229, 124, 14, 0.79);
    height: 20%;
}